body {
    text-align: center;
    font-size: 15px;
}


.channel{
  text-align: left;
  font-size: 15px;
  clear: right;
  }

main {
    width: 800px;
    margin: 0 auto;
}

.col {
    width: 50%;
    float: left;
}
